<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kimmosoft.bankwallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FriendListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BankAccountListActivity"
            android:label="@string/title_account_list"
            android:parentActivityName=".FriendListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kimmosoft.bankwallet.FriendListActivity" />
        </activity>
        <activity
            android:name=".FriendAddNew"
            android:parentActivityName=".FriendListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kimmosoft.bankwallet.FriendListActivity" />
        </activity>
        <activity
            android:name=".BankAccountAddNew"
            android:parentActivityName=".BankAccountListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BankAccountListActivity" />
        </activity>
        <activity
            android:name=".FriendEditName"
            android:label="@string/title_activity_friend_edit_name"
            android:parentActivityName=".BankAccountListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BankAccountListActivity" />
        </activity>
    </application>

</manifest>
